baseURL: "https://eragoneq.github.io/"
title: Eragoneq's Blog
theme: PaperMod

pagination:
  pagerSize: 5

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

# googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Blog by Eragoneq
  description: "Personal website made by Eragoneq"
  keywords: [Blog, Portfolio, PaperMod]
  author: Me
  # author: ["Me", "You"] # multiple authors
  images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "2 January 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "./Icon.svg"
    favicon16x16: "./Icon.svg"
    favicon32x32: "./Icon.svg"
    apple_touch_icon: "./Icon.svg"
    safari_pinned_tab: "./Icon.svg"

  label:
    text: "Home"
    icon: /IconDark.svg
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: "Eragoneq"
    subtitle: "Hi, I'm Eragoneq. This website is a place to publish my projects and all the things I'm thinking about. This also works as my portfolio for anyone interested in my achievements."
    imageUrl: "https://avatars.githubusercontent.com/u/11816936?s=400&u=1c9e8bf3a5354dce7d285d5eea6b8abb3b5a73eb&v=4"
    imageWidth: 150
    imageHeight: 150
    imageTitle: "my image"
    # buttons:
    #     - name: Posts
    #       url: posts
    #     - name: Tags
    #       url: tags

  # home-info mode
  homeInfoParams:
    Title: "Hi there \U0001F44B"
    Content: Welcome to my blog

  socialIcons:
    - name: twitter
      url: "https://twitter.com/Eragoneq"
    - name: stackoverflow
      url: "https://stackoverflow.com/users/11293488"
    - name: github
      url: "https://github.com/Eragoneq"
    - name: email
      url: "mailto://eragoneq@pm.me"

  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/Eragoneq/eragoneq.github.io/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: posts
      name: posts
      url: /posts/
      weight: 10
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20
    - identifier: projects
      name: projects
      url: /projects/
      weight: 30
    # TODO: Add a custom contact page
    # - identifier: contact
    #   name: contact
    #   url: /contact/
    #   weight: 40
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
