html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="stylesheets/index.css")
    body
        .navbar
            .logo LOGO
            .links
                .nav-el BLOG
                .nav-el PROJECTS
                .nav-el CONTACT
        main
            .header
                .shapes
                    .rectangle
                    .triangles
                        .triangle#tri1
                        .triangle#tri2
                    .welcome
                        #line1 Hello, I'm
                        #line2 Michał Jóźwik
                        .linedivide
                        #line3 Computer science student and developer
            .container
                .content
                    .hex#about
                        .hexcontainer
                            .title About
                            .linedivide
                            .text Just some basic text
                    .hex#skills
                        .hexcontainer
                            .title Skills
                            .linedivide
                            .text Just some basic text
                    .cards
                    .hex#resume
                        .hexcontainer
                            .title Resume
                            .linedivide
                            .text Just some basic text
                .contact 
                    .linedivide
                    .contactinfo Get in touch with me
                    .contactbox E-mail: eragon.skill@gmail.com
        .closing
            .shapes
                .triangles
                    .triangle#tri3
                    .triangle#tri4
