html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="stylesheets/index.css")
    body
        .navbar
            .logo LOGO
            .links
                .nav-el BLOG
                .nav-el PROJECTS
                .nav-el CONTACT
        main.container
            .header
                .shapes
                    .rectangle
                    .triangles
                        .triangle#tri1
                        .triangle#tri2
                    .welcome
                        #line1 Hello, I'm
                        #line2 Michał Jóźwik
                        .linedivide
                        #line3 Computer science student and developer
            .content
                .hex#about
                .hex#skills
                .cards
                .hex#resume
            .contact
        .closing
