@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  background: #FFFFFF;
  background: linear-gradient(180deg, #ffffff 20%, #D2D8D8 100%);
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  z-index: 1000;
  background-color: #24262F;
}

.links {
  display: flex;
  justify-content: space-evenly;
  min-width: 25%;
}

.nav-el, .logo {
  font-size: 1.5em;
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  color: #D2D8D8;
}

.shapes {
  position: relative;
  width: 100%;
  z-index: -100;
  overflow: hidden;
}

.rectangle {
  width: 100%;
  height: 500px;
  background-color: #C4C4C4;
}

.triangles {
  display: flex;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
}

#tri1 {
  border-width: 0 66.6666666667vw 300px 0;
  border-color: transparent #C4C4C4 transparent transparent;
}

#tri2 {
  border-width: 300px 66.6666666667vw 0 0;
  border-color: #C4C4C4 transparent transparent transparent;
}

.welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  right: 5rem;
  top: 10rem;
  color: #24262F;
  font-size: 100px;
}

#line1 {
  color: white;
  font-size: 100px;
  text-align: right;
  margin-right: 20px;
}

#line2 {
  text-align: right;
  margin-right: 20px;
}

.linedivide {
  border: 1px solid #616A77;
  margin: 15px;
}

#line3 {
  color: #616A77;
  font-size: 36px;
  margin-right: 20px;
  margin-left: 20px;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  width: 75%;
  left: 12.5%;
}

.content {
  position: relative;
  height: 1800px;
}

.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 150px solid #C4C4C4;
  border-left: 259.8075px solid transparent;
  border-right: 259.8075px solid transparent;
  position: absolute;
  top: -150px;
}

.hex {
  margin-top: 150px;
  width: 519.615px;
  height: 300px;
  background-color: #C4C4C4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(4px 4px 4px #616A77);
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -150px;
  border-top: 150px solid #C4C4C4;
  border-left: 259.8075px solid transparent;
  border-right: 259.8075px solid transparent;
}

.hexcontainer {
  top: -50px;
}

.title {
  font-size: 48px;
  text-align: center;
}

.text {
  font-size: 24px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

#about {
  top: 100px;
}

#skills {
  top: 200px;
  transform: translateX(-112%);
}

#resume {
  top: 300px;
}

.contact {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}

.contactinfo {
  text-align: center;
  padding: 2em;
  font-size: 36px;
}

.contactbox {
  width: 300px;
  height: 3em;
  font-size: 24px;
  text-align: center;
  background: #24262F;
  color: #D2D8D8;
}

#tri3 {
  border-width: 0 0 200px 25vw;
  border-color: transparent transparent #24262F transparent;
}

#tri4 {
  border-width: 200px 0 0 75vw;
  border-color: transparent transparent transparent #24262F;
}

/*# sourceMappingURL=index.css.map */
